<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		* {
			text-decoration: none;
		}

		a {
			padding: 10px 20px;
			border: 1px solid rgba(222, 222, 222);
			background-color: rgba(244, 244, 244);
			border-radius: 5px;
			color: black;
		}

		a:hover {
			background-color: dodgerblue;
			color: white;
			transition: 0.3s;
		}
	</style>
</head>

<body>
	<div align="center">
		<h1>회원등록 메뉴</h1>
		<a href="register">회원 등록</a>
	</div>
</body>

</html>