<div th:fragment="menuFragment">
    <div id="menu_section">
        <button id="menu_btn" onclick="sideMenuFunc()">
            <span>MENU</span>
        </button>
        <div id="menu_content">
            <div class="menu_profile_section">
                <div class="menu_profile_img">
                    <!-- 프로필 이미지 영역 -->
                </div>
                <div class="menu_profile_info">
                    <!-- 프로필 정보 영역 -->
                    <span class="menu_profile_username">
                        <!-- 이름 -->
                        [[${loginMember.name}]]
                    </span><br>
                    <span class="menu_profile_nationality">
                        <!-- 국적 -->
                        Korea
                    </span>
                    <div class="menu_profile_flag">
                        <!-- 국가 아이콘 -->
                    </div>
                </div>
            </div>
            <div class="menu_friend_section">
                <div class="menu_text">
                    <span>FRIEND</span>
                    <a id="pop_btn" href="javascript:openPopFriend()">+</a>
                </div>
                <ul id="friendList" class="menu_friend_list">
                    <!-- 친구 리스트 -->
                    <li class="menu_friend">
                        <div class="menu_friend_profile_name">
                            <!-- 친구 이름 -->
                            Unknown
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu_message_section">
                <div class="menu_text">
                    <span>MESSAGE</span>
                    <a id="pop_btn" href="javascript:openPopMessage()">+</a>
                </div>
                <ul class="menu_message_list">
                    <!-- 메시지 리스트 -->
                    <li class="menu_message">
                        <div class="menu_message_profile_img">
                            <!-- 친구 프로필 이미지 영역 -->
                        </div>
                        <div class="menu_message_profile_name">
                            <!-- 친구 이름 -->
                            Unknown
                        </div>
                        <div class="menu_message_profile_on_icon">
                            <!-- 신규 메시지 알림 아이콘 -->
                        </div>
                    </li>
                    <li class="menu_message">
                        <!-- 영역 확인용, 첫 li에 th:each 걸면 삭제 -->
                    </li>
                    <li class="menu_message">
                        <!-- 영역 확인용, 첫 li에 th:each 걸면 삭제 -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:replace="fragments/friend_list :: friendListFragment"></div>
    <div th:replace="fragments/message_list :: messageListFragment"></div>
    
    <script th:inline="javascript">
    
        let member = /*[[${loginMember}]]*/ "로그인 멤버";
        console.log(member);
        window.onload = function () {
            getFriend();
            ReGetFriend();
            ReGetFriendRequest();
        }

        function getFriend() {
            var msg = {
                memberId: member.id
            };
            console.log(msg);
            commonAjax('/getFriend', msg, 'post', function (result) {
                createFriendList(result);
            });
        }

        function createFriendList(res) {
            console.log(res);
            var tag ="";
            if (res != null) {
                res.forEach(function (friend) {
                    var your;
					your = friend.friend.name;
					tag += "<li class='menu_friend'>" +
                        		"<div class='menu_friend_profile_name'>" +
                            		your +
                        		"</div>" +
                    		"</li>";
                });
                $("#friendList").empty().append(tag);
            }
        }
        

		
		function ReGetFriend() {
			var msg = {
                memberId: member.id
            };
            console.log(msg);
            commonAjax('/getFriend', msg, 'post', function (result) {
                ReCreateFriendList(result);
            });
		}
		
		function ReCreateFriendList(res) {
            console.log(res);
            var tag ="";
            if (res != null) {
                res.forEach(function (friend) {
                    var your;
					your = friend.friend.name;
					tag += "<div class='my_friend_section'>" +
								"<div class='my_friend_img'>" + "</div>" +
								"<div class='my_friend_info'>" +
                        		"<div class='my_friend_name'>" +
                            		your +
                        		"</div>" + "<div class='my_friend_nationality'>" +
                        		"</div>" + "</div>" + "<div class='my_friend_comment'>" +
                        		"</div>" +
                    		"</div>";
                });
                $("#myFriendSection").empty().append(tag);
            }
        }
        
        function ReGetFriendRequest() {
			var msg = {
                memberId: member.id
            };
            console.log(msg);
            commonAjax('/getFriendRequest', msg, 'post', function (result) {
                ReCreateFriendRequestList(result);
            });
		}
		
		function ReCreateFriendRequestList(res) {
            console.log(res);
            var tag ="";
            if (res != null) {
                res.forEach(function (friendRequest) {
                    var your;
					your = friendRequest.send.name;
					tag += "<div class='request_friend_section'>" +
								"<div class='request_friend_img'>" + "</div>" +
								"<div class='request_friend_info'>" +
                        		"<div class='request_friend_name'>" +
                            		your +
                        		"</div>" + "<div class='request_friend_nationality'>" +
                        		"</div>" + "</div>" + "<div class='request_friend_btn'>" +
                        		"<ul>" + "<li>" + "<button class='accept_btn' type='button'>" +
                        		"ACCEPT" + "</button>" + "</li>" +
                        		"<li>" + "<button class='refuse_btn' type='button'>" +
                        		"REFUSE" + "</button>" + "</li>" +
                        		"</ul>" + "</div>" +
                    		"</div>";
                });
                $("#requestFriendSection").empty().append(tag);
            }
        }

        function commonAjax(url, parameter, type, calbak) {
            $.ajax({
                url: url,
                data: parameter,
                type: type,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (res) {
                    calbak(res);
                },
                error: function (err) {
                    console.log('error');
                    calbak(err);
                }
            });
        }
        
    </script>
    
</div>
